{% extends "base.html" %}
{% block content %}
<div>
    <div>
        Enter Client ID and Client Secret from Google Developers Console.
        More info https://developers.google.com/console/help/
    </div>
    <form method="post">
        <div>
            <div>
                <div class="label">
                    Client ID
                </div>
                <div>
                    <input type="text" name="client_id"></input> 
                </div>
            </div>            
            <div>
                <div class="label">
                    Client secret
                </div>
                <div>
                    <input type="text" name="client_secret"></input>
                </div>
            </div>  
            <div>
                {{error}}
            </div>
            <div>
                <div>
                    <input type="submit" />
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}