{% extends "base.html" %}
{% block content %}
<div>
    {% if has_credentials %}
    <p>
        Thanks for granting this application permission to access your data using the Calendar API.
    </p>
    {% else %}
    <p>
        Follow the link below and grant this application permission to access your data using the Calendar API.
    </p>
    <blockquote>
        <a href="{{ url }}">{{ url }}</a>
    </blockquote>
    {% endif %}
    <p>
        You can always <a href="https://www.google.com/accounts/b/0/IssuedAuthSubTokens">revoke</a> permission at any time.
    </p>
</div>
{% endblock %}
