{% extends "base.html" %}
{% block content %}
<div><a href="/add">Add Event</a></div>
<form>
    <select name="menu" onchange="top.location.href=this.options[this.selectedIndex].value;" value="GO">
        <option value="/main"> Current </option>
        {% for calendar in calendar_names_and_ids %}
        <option value="/main?calendar={{calendar.id}}">{{ calendar.name }}</option>
        {% endfor %}
    </select>
</form>
<div>
    <h1>Current calendar {{calendar_name}}</h1>
</div>
<div>
    <h4>
        Times are displayed in UTC(+01:00)
    </h4>
</div>
<div>
    <table>
        <tr>
            <td>Start</td>
            <td>End</td>
            <td>Time Zone</td>
            <td>Summary</td>
            <td>Location</td>
            <!-- 
            <td>Edit</td>
            -->
            <td>Remove</td>
        </tr>
        {% for event in all_events %}
        <tr>
            <td>{{ event.start_time }}</td>
            <td>{{ event.end_time }}</td>
            <td>{{ event.time_zone }}</td>
            <td>{{ event.summary }}</td>
            <td>{{ event.location }}</td>
            <!-- 
            <td><a href="/edit">Edit</a></td>
            -->
            <td><a href="/remove?id={{ event.id }}">Remove</a></td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}